.PostsListSection {
  padding: 8px;
}

.PostsList {
  display: grid;
  gap: 8px;
}

.PostListItem {
  padding: 8px;
  margin-bottom: 8px;
  box-shadow: 1px 1px 1px 1px #6e886d;
  background-color: rgba(0, 0, 0, 0.25);
}

.PostListItem:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.PostListItem h3 {
  font-size: 20px;
}

.filters {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.filters h3 {
  font-size: 26px;
  margin-right: 16px;
}

.filter,
.menuBtn {
  border: 0;
  background: rgba(86, 186, 144, 40%);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px 6px;
  cursor: pointer;
}

.listMenu {
  padding: 16px 0;
}

.menuBtn {
  background: rgba(86, 149, 186, 0.4);
  text-decoration: none;
}

.menuBtn:focus,
.menuBtn:hover {
  outline: rgb(86, 149, 186) 1px auto;
}

.filtersOptions {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
}

.filter:focus,
.filter:hover {
  outline: rgb(86, 186, 144) 1px auto;
}

.filterEnabled {
  outline-color: transparent;
  background: rgba(86, 186, 144, 90%);
}

/* 
.filterDisabled {
} */
