:root {
  --primary-color: #333;
  --secondary-color: #474747;
}

body {
  background-color: var(--secondary-color);
  color: #fff;
}

a {
  color: #00ffc3;
}

.App_Nav ul {
  display: flex;
}

.App_Nav ul li:nth-child(n + 2) {
  margin-left: 16px;
}

.App_Nav a {
  display: block;
  padding: 0 8px;
  color: white;
  text-decoration: none;
}

.App_Nav a:hover,
.App_Nav a:focus {
  background-color: #524d53;
}

.App_Header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 0 16px;
  left: 0;
  right: 0;
  top: 0;
  background: var(--primary-color);
  font-size: 32px;
  z-index: 6969;
}

.Offline,
.Error {
  color: #d25454;
}

.Online {
  color: #adff2f;
}

.FormError {
  box-shadow: 1px 1px 1px 1px #d25454 !important;
}

.Status {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  justify-items: center;
}

.Status a {
  text-decoration: none;
  padding: 0 8px;
}

.Status a:hover {
  background-color: #524d53;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

header h2 {
  font-size: 34px;
}

.PostForm {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;

  font-size: 20px;
}

.PostForm input,
.PostForm textarea {
  width: 100%;
  padding: 0 8px;
  font-size: 28px;
  text-align: center;
  font-style: italic;
  border: none;
  border-bottom: 1px solid rgb(0, 102, 102);
  background: rgba(0, 0, 0, 0.075);
  color: rgb(14, 221, 221);
}

.PostForm input:focus,
.PostForm textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(10, 156, 156);
  background: rgba(0, 0, 0, 0.246);
}

.PostForm textarea {
  resize: none;
  height: 400px;
  font-size: 20px;
  text-align: left;
}

.PostFormSection {
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  padding: 4px;
  box-shadow: 1px 1px 1px 1px #adff2f;
}

.FormOptions {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr;
  gap: 2px;
}

.Btn {
  cursor: pointer;
}

@media (max-width: 500px) {
  .App_Header {
    font-size: 20px;
  }
}
