.PostPage {
  margin: 8px;
  padding: 0 8px;
  box-shadow: -1px 1px 1px 1px #2cd8ff;
}

.PostPage h1 {
  font-size: 40px;
  text-align: center;
}

.PostPage h1 .Date {
  font-size: 18px;
  font-weight: 400;
}

.PostPage .PostText {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
  text-indent: 2rem;
}

.PostPage footer {
  max-width: 1200px;
  margin: 0 auto;
}

.PostComments h2 {
  font-size: 30px;
}

.PostComments ul {
  padding: 8px;
  box-shadow: -1px 1px 1px 1px #00000078;
}

.PostComment {
  margin-bottom: 8px;
  padding: 8px;
  box-shadow: 1px 1px 1px 1px white;
}

.PostComments ul li:last-child .PostComment {
  margin-bottom: 0;
}

.PostComment h3 {
  font-size: 22px;
}

.CommentText {
  font-size: 18px;
}

.CommentDate {
  text-align: right;
}

@media (max-width: 500px) {
  .PostPage h1 {
    font-size: 35px;
  }
}
