.LoginFormSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginFormSection h2 {
  font-size: 40px;
}

.LoginFormSection input {
  min-width: 300px;
  max-width: 400px;
  width: 400px;
  height: 3rem;
}

.LoginFormSection form {
  padding: 16px;
  display: grid;
  gap: 8px;
  box-shadow: 1px 1px 1px 1px #8c8c8c;
  font-size: 22px;
}
